<div class="certification flexBox flexBox_column" id="certification">
	<header class="header">
		<span class="goback icon iconfont tap" v-on:click="GoBack">&#xe600;</span>实名认证
	</header>

	<section class="section flex">
		<div class="certification_first" v-if="">

		</div>

		<div class="certification_list border_box flexBox flexBox_row" v-on:click="ChooseYourName">
			<span>真实姓名</span>
			<h1 class="certification_title flex " id="RealName">xxx</h1>
		</div>
		<div class="certification_list border_box flexBox flexBox_row" v-on:click="choose_sex" id="certification_sex1">
			<span>性别</span>
			<h1 class="certification_sex_title flex" id="UserSex">{{oSex||'女'}}</h1>
		</div>
		<div class="certification_list border_box flexBox flexBox_row">
			<span>身份证号</span>
			<input type="text"  value="" placeholder="请输入你的身份证号" class="certification_title flex certification_input" id="Identity" />
		</div>
		<div class="certification_list border_box flexBox flexBox_row">
			<span>签约公司</span>
			<input type="text"  value="" placeholder="请输入你的签约公司" class="certification_title flex certification_input" id="Company" />
		</div>
		<div class="certification_list border_box flexBox flexBox_row">
			<span>经纪人号码</span>
			<input type="tel"  value="" placeholder="请输入你的经纪人手机号码" class="certification_title flex certification_input" id="UserPhone" />
		</div>
		<!--拍照-->
		<div class="certification_camera">
			<p class="certification_camera_title">上传持证照</p>
			<div class="certification_camera_photos" id="certification_camera_photos" />
			
			<div class="OpenCamera_url" v-on:click="OpenCamera">
				<img src="images/per.png" id="cameraUrl" />
			</div>
			
		</div>

		<p class="certification_camera_title">上传持证照如下：</p>
		<ol>
			<li class="certification_camera_info">1.持证正面照须本人手持证件，免冠未妆能辨识</li>
			<li class="certification_camera_info">2.证件上/信息/号码/住址须清晰可见</li>
			<li class="certification_camera_info">3.照片大小5M以内</li>
		</ol>
		
		<p class="title flexBox">
			<i class="weui_icon_circle" style="font-size:23px;" v-on:click="changeSex" id="checkOn"></i>
			<span class="" style="line-height: 0.5rem;" v-on:click="agreement">我同意企拍人才建档协议</span>
		</p>
		
</div>

</section>

<footer class="footerBtn" v-on:click="GoNext">下一步</footer>
<!--选择性别-->
	<div id="choose_yoursex" class="weui-popup-container popup-bottom">
		<div class="weui-popup-overlay"></div>
		<div class="weui-popup-modal">
			
				<div class="toolbar">
					<div class="toolbar-inner">
						<a href="javascript:;" class="picker-button " v-on:click="sex_close">关闭</a>
						<h1 class="title">请选择你的性别</h1>
					</div>
				</div>
				<div class="modal-content">
					<div id="data_sex" style="padding: 0.2rem 0;">
						<p class="title flexBox" v-on:click="select_sex">
							<i class=" weui_icon_circle" style="font-size:23px;"></i>
							<span class="flex" style="line-height: 0.45rem;">男</span>
						</p>
						<p class="title flexBox" v-on:click="select_sex">
							<i class=" weui_icon_circle" style="font-size:23px;"></i>
							<span class="flex" style="line-height: 0.45rem;">女</span></p>
					</div>
				</div>
			
		</div>
	</div>

<!--协议-->
	<div id="agreement" class="weui-popup-container">
	  <div class="weui-popup-overlay"></div>
	  <div class="weui-popup-modal flexBox flexBox_column ">
	  	<header class="header">
	  		<span class="icon iconfont goback" v-on:click="close_agreement">&#xe600;</span>
	  		企拍人才建档协议
	  	</header>
	    <section class="agreement_con flex section">
	    	<h1 class="title_agree">企拍文化科技有限公司网络网服务协议，（以下简称"本网站"）依据《企拍服务条款》（以下简称"本协议"）的规定提供服务，本协议具有合同效力。注册会员时，请您认真阅读本协议，审阅并接受或不接受本协议（未成年人应在法定监护人陪同下审阅）。</h1>
<p>&nbsp;</p>
<h1>一、特别提示</h1>

<p>1、用户在进行注册程序过程中点击"同意" 按钮即表示您已充分阅读、理解并同意自己与本网站订立本协议，且您自愿受本协议及其相关条款约束。包括《企拍网服务条款》、《企拍网人才库协议》及公示的各项规则、规范。同时本网站有权随时变更本协议并在本网站上予以公告。经修订的条款一经在本网站的公布后，立即自动生效。如您不同意相关变更，可停止使用本网站。本协议内容包括协议正文及所有企拍网已经发布的所有条款。所有企拍网服务条款均为本协议不可分割的一部分，与本协议正文具有同等法律效力。一旦您继续使用本网站，则表示您已接受并自愿遵守经修订后的条款。</p>


<p>2、用户注册成功后，企拍网将为用户基于企拍网APP客户端使用的客观需要，同时与企拍网pc端通用同一账户服务。按照注册要求提供的帐号开通会员服务，用户帐号和密码由用户负责保管；用户使用企拍网服务过程中，须对自身使用服务的行为，对任何由用户通过企拍网客户端服务发布、公开的信息、图片，及对由此产生的任何后果承担全部责任。用户提交、发布或显示的信息将对其他会员用户及第三方服务及网站可见(用户可通过设置功能自行控制、把握可查阅其信息的帐号类型)。

<p>3、为提高用户的服务使用感受和满意度，用户同意企拍文化科技有限公司将基于用户的操作行为对用户数据进行调查研究和分析，从而进一步优化服务。

<h1>二、会员资格及权利和义务</h1>

<p>符合下列条件之一的自然人或法人通过申请成为本网站会员，可以使用本网站的服务； A、年满十八岁，并具有民事权利能力和民事行为能力的自然人； B、无民事行为能力人或限制民事行为能力人经过其监护人的同意的； C、根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织。非法人资格的单位或组织不当注册为本网站会员的，其与本网站之间的协议自始无效，本网站一经发现，有权立即终止对该会员的服务，并追究其使用本网站服务的一切法律责任。注册会员需提供真实有效的联系地址和电话，并提供真实姓名或名称。

<h1>三、签约艺人报酬奖励条款</h1>
<p>1、	艺人在企拍的直播、录播、代销等订单收入构成：三大块底薪+企拍平台的订单提成+直播粉丝量、转换率、订单数量达到一定数量级时的奖励。
<p>2、	底薪的获取：每次上线直播时长必须超过1小时，每个月直播时长须>=60小时才可享受底薪，为企拍拍摄宣传及样板视频时间，可以充当直播时长，底薪为1500元（壹仟伍佰圆）人民币。
<p>3、艺人选择直播期间以转化率的方式提成，即在直播开始到结束后的24小时内，按委托直播的电商线上及线下店铺交易额总数的（2%）提成。
<p>4、企拍的电商将店铺或产品，委托艺人进行维护管理和销售，单个产品委托，按照销售量乘以单个提成金额（由客户确定艺人有权拒绝接单）结算。如整铺委托，除了以单品提成外，另加总交易额的（2%）作为管理维护费用。
<p>5、配合企拍，拍摄宣传视频或制作模版视频，公布在企拍定制平台上，公开接受打赏、点评，在企拍平台内获得用户所赠送虚拟礼物总金额（其中不包含，企拍为艺人宣传吸引人气所赠送的虚拟礼物的金额），艺人可获得总体消耗虚拟礼物的42%至55%做为分成收益(其中不包含，企拍为艺人宣传吸引人气所赠送的虚拟礼物的金额）。
第五项，基于企拍订单，每个月直播或录播时长>=80小时，订单数每月超过90单，单次直播粉丝数量超过40万，转换总金额超过7000万，为企拍提供十部以上的宣传视频，将给予首页展示和皇冠网红奖励，同时给予现金奖励。
<p>3、	企拍在每月15号向艺人发放当月主播收益，并代主播缴纳个人所得税；
<h1>四、行为准则</h1>
<p>1、	艺人直播时，应保持面容整洁，稍化些淡妆再出境直播，直播内容以展示产品特点卖点，达成交易为目的，同时以唱歌、跳舞、脱口秀、相声、美妆、互动节目等来吸引粉丝增加粘度为辅。
<p>2、	艺人开播前应整理好房间的背景，不得杂乱无章，不得悬挂内衣裤之类的物品，如企拍及客户有特定要求，需按照要求进行录制，如需要费用由需求方提供解决。
<p>3、	艺人在直播的时候，允许多平台同时直播，以营销宣传最大化。
<p>4、	艺人直播时，必须展示企拍的LOGO及使用规范开场语：“各位朋友大家好，这里是企拍视频营销平台为您直播。”
<p>5、	不允许在房间讨论关于政治和领导人的一些话题言论，不允许唱和表演禁歌内容以及国家法律法规规定内违法违规的行为。
<p>6、	艺人直播时，需穿着端庄整洁，不得穿内衣裤和过于暴露的衣服直播，直播或表演时不允许故意抚摸胸部以及下身。
<p>7、	艺人在直播时应全身心的关注自己的直播间，直播时不允许看电影或者其他网站直播平台，不允许在直播间侮辱谩骂玩家或者其他艺人和工作人员，不允许无故乱踢玩家或者其他艺人。不得在直播规定时间内中途离开超过三分钟，如有违规，企拍将扣除当月全部薪资，且艺人需承担客户问责或法律起诉相关责任。
<p>8、	违反以上行为规范，官方人员有权利直接关闭直播。情节严重者可以直接取消定制资格，企拍平台将有权封号、封IP、解约，并有权追究其相应的法律责任。
<h1>五、视频直播内容违规定义</h1>
<p>1、	在进行视频表演时抽烟、酗酒、爆粗口或持续谩骂。
<p>2、	游客在房间内发布侮辱性，攻击性，色情淫秽文字，管理应立即将游客封字或者踢出房间。若未及时处理，则算作房间内容违规。
<p>3、	男性不得赤裸上身、衣冠不整、不文明、不雅观等容易引起观众反感的形象进行视频表演。
<p>4、	艺人不得穿着国家行政机关人员工作制服进行直播。
<p>5、	艺人不得演唱带有黄色、擦边、涉政等违禁信息歌曲（包括但不限于以下歌曲、《小蛮腰》《八连杀》《客官不可以》《飞向别人的床》《吹喇叭》《18 摸》《纵欲》《我爱台妹》《少女的初夜》《草泥马之歌》《脱掉》《差不多先生》《老子说大姨妈》《嫁衣》《纵欲》,绝世小攻系列,及其他带粗口的, 与政治有关的,带黄色或暴力的歌曲）。
<p>6、	视频直播时不得有与产品无关的具有挑逗性质的舞蹈或躺在床上直播，髋部以下部位出现在视频画面中，通过模仿色情动作或进行自我抚摸、并企图暴露敏感部位等引起性挑逗的行为。不得表演脱衣舞等具有挑逗性的表现形式。
<h1>六、其他约定</h1>
<p>1、	违反在合同期内本合同第五款规定的艺人人员，企拍将会视情节轻重，处以警告、罚款、暂停合作及注销身份、扣除所有未发提成费用，永久封冻企拍账号,中止双方合作，艺人应当向企拍支付违约金拾万元（100000.00元），并承担由此给企拍造成的一切经济损失。

<h1>七、企拍网的权利和义务</h1>

<p>1、本网站仅为会员提供一个信息交流平台，是会员发布展示、工作机会、展览展示的一个平台，本网站对用户进行资格审核但不确保每个用户提供的工作机会均具有真实性和稳定性；

<p>2、本网站有义务在现有技术水平的基础上努力确保整个网上交流平台的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证会员网上交流活动的顺利进行；

<p>3、本网站有义务对会员在注册使用本网站信息平台中所遇到的与展示或注册有关的问题及反映的情况及时作出回复；

<p>4、本网站有权对会员的注册资料进行审查，对存在任何问题或怀疑的注册资料，本网站有权发出通知询问会员并要求会员做出解释、改正；

<p>5、因网上信息平台的特殊性，本网站没有义务对所有会员发布展示的版权、肖像权等相关权利以及工作机会的可执行性进行事先审查，但如发生以下情形，本网站有权无需征得会员的同意限制会员的活动、向会员核实有关资料、发出警告通知、暂时中止、无限期中止及删除所有展示、封锁账号等： A、会员违反本协议或因被提及而纳入本协议的相关规则； B、存在会员或其他第三方通知本网站，认为某个会员或具体展示存在违法或不当行为，并提供相关证据，而本网站无法联系到该会员核证或验证该会员向本网站提供的任何资料； C、存在会员或其他第三方通知本网站，认为某个会员或具体展示或工作机会存在违法或不当行为，并提供相关证据。本网站以一般的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为可能对本网站会员或本网站造成名誉、财务损失或法律责任。

<p>6、根据国家法律、法规、行政规章规定、本协议的内容和本网站所掌握的事实依据，可以认定该会员存在违法或违反本协议行为以及在本网站平台上进行的其他不当行为，本网站有权无需征得会员的同意在本网站交易平台及所在网站上以网络发布形式公布该会员的违法行为，并有权随时作出删除相关信息、终止服务提供等处理；

<p>7、本网站有权在不通知会员的前提下，删除或采取其他限制性措施处理下列信息：包括但不限于以炒作为目的恶意评论；存在欺诈等恶意或虚假内容的展示；恶意发布工作机会；发布虚假工作；以及发布（或招募）其他违反公共利益或可能严重损害本网站和其他会员合法利益的信息。

<h1>八、服务变更、中断或终止</h1>

<p>1、鉴于网络服务的特殊性（包括但不限于服务器的稳定性问题、恶意的网络攻击等行为的存在及其他本网站无法控制的情形），用户同意企拍网有权随时中断或终止部分或全部的服务，若发生该等中断或中止服务的情形，企拍网将尽可能及时通过网页公告、系统通知、私信、短信提醒或其他合理方式通知受到影响的用户。

<p>2、会员理解企拍网网络平台需要定期或不定期地对提供服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成服务在合理时间内的中断，企拍网无需为此承担任何责任，但应尽可能快速解决问题。

<p>3、如发生下列任何一种情形，企拍网有权随时暂停或终止向用户提供本协议项下的服务而无需对用户或任何第三方承担任何责任：

<p>3.1 用户提供的个人资料不真实；

<p>3.2 用户违反法律法规国家政策或本协议中规定的使用规则；

<p>3.3 用户在使用收费服务时未按规定为其所使用的收费服务实现支付目的。

<p>4、若会员申请终止本网站服务，需经本网站审核同意，方可解除与本网站的协议关系，但本网站仍保留下列权利： A、本网站有权在法律、法规、行政规章规定的时间内保留该会员的资料,包括但不限于以前的会员资料、交易记录等； B、若终止服务之前，该会员在本网站交易平台上存在违法行为或违反本协议的行为，本网站仍可行使本协议所规定的权利。

<h1>九、知识产权</h1>

<p>1、企拍文化科技有限公司提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受著作权、商标权、专利权和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。

<p>2、企拍网为会员提供更好的推广而使用会员上传到网络平台（包括PC端和移动端）的图片、音频、视频及文字等内容，即视为你同意将该作品的网络传播权、非独家使用权、肖像权以及网络使用权的转授权等相关权利授权给企拍网，企拍可在企拍网产品体系内展示、传播及推广该作品，并不构成权利的侵犯。

<p>3、会员通过企拍网经纪业务（包括但不限于APP客户端、网站经纪业务、企拍网人才库等）所产生的经纪业务订单，企拍网对其拥有传播权。订单商家（或发布方）有权涉及订单内容的工作成果或作品在企拍网进行公开宣传展示，其中涉及到会员肖像权等相关权利的不视为侵权，企拍网对该会员的肖像权使用免责。
<p>六、 隐私保护

<p>1、本协议所指的“隐私”包括《电信和互联网用户个人信息保护规定》第4条规定的用户个人信息的内容以及未来不时制定或修订的法律法规中明确规定的隐私应包括的内容。

<p>2、保护用户隐私是企拍网的一项重要规定，企拍网保证不会将单个用户的注册资料及用户在使用服务时存储在企拍网的非公开内容用于任何非法的用途。

<p>3、会员的个人或法人信息将在下述情况下部分或全部被披露： A、经会员同意，向第三方披露； C、根据法律的有关规定，或者行政、司法机关的要求，向第三方或者行政、司法机关披露 D、若会员出现违反中国有关法律或者网站规定的情况，需要向第三方披露； E、为提供会员本人所要求的产品和服务，而必须和第三方分享会员的个人或法人信息； F、其它本网站根据法律或者网站规定认为合适的披露。

<p>4、为提升企拍网服务的质量，扩展会员的发展平台企拍网可能会与第三方合作共同向用户提供相关的展示服务，此类合作可能需要包括但不限于会员展示资料与第三方用户资源的共享或互通。在此情况下，用户知晓并同意将用户的展示等提供给该第三方，并与第三方约定仅为双方合作的项目之目的使用；并且，企拍网将对该行为进行监督和管理。

<h1>十、免责声明</h1>

<p>1、 用户在使用服务的过程中应遵守国家法律法规及政策规定，因其使用企拍网服务而产生的行为后果由用户自行承担。

<p>2、通过企拍网发布的任何信息，及传递的任何观点均不代表企拍网的立场，企拍网亦不对其完整性、真实性、准确性或可靠性负责。用户对于可能会接触到的非法的、非道德的、错误的或存在其他失宜之处的信息，及被错误归类或是带有欺骗性的发布内容，应自行做出判断。在任何情况下，对于任何信息，包括但不仅限于其发生的任何错误或遗漏；或是由于使用通过发布、私信、传达、其他方式所释出的或在别处传播的信息，而造成的任何损失或伤害，应由相关行为主体承担全部责任。

<p>4、对于因不可抗力或企拍网不能控制的原因造成的服务中断或其它缺陷，企拍网不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。

<h1>十一、法律适用</h1>

<p>1、本协议及其规则的有效性、履行和与本协议及其规则效力有关的所有事宜，将受中华人民共和国法律管辖，任何争议仅适用中华人民共和国法律；

<p>2、如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向深圳市南山区人民法院提起诉讼。

<p>3、本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。

<p>4、如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款继续有效。

5、本协议由本协议条款与《企拍网服务条款》、《企拍网人才库协议》等本网站公示的各项规则组成，您对本协议理解和认同，即表示对本协议所有组成部分的内容理解并认同，一旦您使用本服务，你和本公司即受本协议所有组成部分的约束。

6、企拍网对本服务协议包括基于本服务协议制定的各项规则拥有最终解释权。

	    </section>
	  </div>
	</div>


</div>