#editor{
	width: 100%;
	height: 100%;
}
#editor header,#editor footer{
	z-index: 9;
	width: 100%;
	background: #313c42;
    color: #fff;
	position: relative;
}
#editor footer{
	background: #fff;
}
#editor footer span{
	font-size: 0.14rem;
	letter-spacing:0.1rem;
	color: #fff;
	background: deeppink;
}


.editor_data{
	width: 100%;
	min-height:0.4rem ;
	border-top: 0.01rem solid #ddd;
	padding: 0.08rem 0.15rem;
}
.editor_data_title{
	color: deeppink;
	font-size: 0.13rem;
	height: 0.2rem;
	line-height: 0.2rem;
	clear: both;


}
.editor_data_title span{
	float: right;
}
.editor_data_txt{
	font-size: 0.12rem;
	/*height: 0.2rem;*/
	line-height: 0.2rem;
	color: rgba(0,0,0,0.6);
	/*省略号*/
	display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*头像*/
.show_header{width: 100%;
	height:0.74rem ;
}
.show_header img{
	height: 0.74rem;
	width:0.74rem;
}
/*个人信息*/
.person_information{
	height: 0.74rem;
	width: calc(100% - 0.74rem);
}
.person_information>p{
	height: 0.185rem;
	line-height:0.185rem;
	text-align: center;
	position: relative;
	font-size: 0.12rem;
}
.person_information>p span{position: absolute;top: 0;padding:0 10px;}
.person_information>p span:nth-child(1){
	left:0.05rem ;
}
.person_information>p span:nth-child(2){
	left:0.65rem ;
}
.person_information>p span:nth-child(3){
	left:1.25rem;
}
#information_three_editor>span:nth-child(1){
	left: 0.03rem;
}
#swiper-container-editorPhotos .swiper-slide img{
	width: 100%;
	height: 100%;
}
#video_main video{
	width: 45%;
	z-index: 9999999;
	padding:2.5% 2.5% 2.5% 2.5%;
}
#album_main_ul{
	width: 100%;
	height: 100%;
}
#album_main_ul li{
	width: 45%;
	height: 1.4rem;
	margin:2.5% 2.5% 2.5% 2.5%;
	float: left;
	position: relative;
}
#album_main_ul li img{
	width: 100%;
	height: 1.4rem;
	position: absolute;
	left: 0;
	top: 0;
}
#album_main_ul li p{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.4rem;
	line-height: 0.4rem;
	width:100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
	
}
#album_main_ul li p span{
	text-align: center;
	/*省略号*/
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
